/*----%%%---------------------------------------*/
footer .wrap .footer_line > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #d5ad34;
    height: 3px;
    width: 25%;
}

/*----PAGE--------------------------------------*/
footer {
		position: relative;
		z-index: 3;
    background-color: #242629;
}
footer .wrap {
    max-width: 1140px;
    margin: 0 auto;
}
footer .wrap .footer_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
footer .wrap .footer_body .footer_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
footer .wrap .footer_body .footer_logo a {
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    margin: 25px 0;
    outline: none;
}
footer .wrap .footer_body .footer_logo a img{
	display: block;
	width: 180px;
}
footer .wrap .footer_body .footer_blockinfo {
    width: 75%;
    margin-top: 65px;
		margin-left: 60px;
    padding-bottom: 60px;
}
footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_header .footer_blockinfo_header_block {
    width: 33%;
}

footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_header .footer_blockinfo_header_block h3 {
    font-size: 18px;
    font-weight: 500;
    color: #d5ad34;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 20px;
}
footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main p {
    width: 33%;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    color: #fafafa;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 20px;
}
.footer_blockinfo_main2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer_blockinfo_main2 p{
    width: 33%;
    margin-top: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
    color: #fafafa;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 20px;
}
footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
    width: 33%;
}
footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main ul li {
    width: 25%;
}
footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main ul li a {
    outline: none;
    color: #fafafa;
    font-size: 30px;
}
footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main ul li a:hover {
    -webkit-transition: 0.25s;
    transition: 0.25s;
    color: #ecbc2c;
}
footer .wrap .footer_line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/*----MEDIA-------------------------------------*/
@media (max-width: 769px) {
	  footer .wrap .footer_body .footer_logo a img{
    width: 150px;
}
		footer .wrap .footer_body .footer_blockinfo {
			margin-left: 0px;
	}
    footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main ul li {
        width: 50%;
    }
    footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main ul li:nth-child(3), footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main ul li:nth-child(4) {
        margin-top: 20px;
    }
    footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main ul li a {
        outline: none;
        color: #fafafa;
        font-size: 30px;
    }
    footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main ul li a:hover {
        -webkit-transition: 0.25s;
        transition: 0.25s;
        color: #feb960;
    }
}
@media (max-width: 664px) {
	    footer .wrap .footer_body .footer_logo {
        display: none;
    }
		    footer .wrap .footer_body .footer_blockinfo {
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 0 20px 60px;
    }
    footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_header .footer_blockinfo_header_block h3 {
        font-size: 14px;
    }
    footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main p,.footer_blockinfo_main2 p {
        width: 33%;
        margin-top: 20px;
        font-size: 12px;
    }
    footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-top: 20px;
    }
    footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main ul li {
        width: 50%;
    }
    footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main ul li a {
        outline: none;
        color: #fff;
        font-size: 20px;
    }
    footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main ul li a:hover {
        -webkit-transition: 0.25s;
        transition: 0.25s;
        color: #feb960;
    }
}
@media (max-width: 449px) {
    footer .wrap .footer_body .footer_logo {
        display: none;
    }
    footer .wrap .footer_body .footer_blockinfo {
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 0 20px 60px;
    }
    footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_header .footer_blockinfo_header_block h3 {
        font-size: 12px;
    }
    footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main p,.footer_blockinfo_main2 p {
        font-size: 8px;
    }
    footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main ul li {
        width: 50%;
    }
    footer .wrap .footer_body .footer_blockinfo .footer_blockinfo_main ul li a {
        font-size: 15px;
    }
}