/*----------------------------------------------*/
header {
    background-color: #fafafa;
    -webkit-box-shadow: 0 -10px 50px black;
            box-shadow: 0 -10px 50px black;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}
header .wrap {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
header .wrap .header_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

header .wrap .header_body .img_logo{
    text-decoration: none;
    outline: none;
}
header .wrap .header_body .img_logo img {
	display: block;
    height: 50px;
    margin: 20px 0;
    outline: none;
    position: relative;
    z-index: 3;
}

header .wrap .header_body .burger {
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    display: none;
    position: relative;
    z-index: 3;
}
header .wrap .header_body .burger span {
    background-color: #616161;
    height: 2px;
    width: 25px;
    margin: 4px 0;
    display: block;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
header .wrap .header_body .header_menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
header .wrap .header_body .header_menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
header .wrap .header_body .header_menu ul li {
    margin-right: 50px;
}
header .wrap .header_body .header_menu ul li:last-child {
    margin-right: 0;
}
header .wrap .header_body .header_menu ul li a {
    transition: 0.25s;
    font-family: 'Aeroport';
    font-size: 18px;
    font-weight: 400;
    color: #0F1013;
    text-decoration: none;
    outline: none;
}
header .wrap .header_body .header_menu ul li:hover a {
    color: #b4922d;
}

header .wrap .header_body .header_menu .h_btn {
    transition: 0.25s;
    font-family: 'Aeroport';
    font-size: 18px;
    font-weight: 400;
    color: #fafafa;
    text-decoration: none;
    outline: none;
    padding: 15px 25px;
    margin-left: 50px;
    background-color: #d5ad34;
    border-color: #d5ad34;
    border-radius: 10px;
}
header .wrap .header_body .header_menu .h_btn:hover {
    -webkit-transition: 0.25s;
    transition: 0.25s;
    background-color: #ecbc2c;
    border-color: #ecbc2c;
}

/*----MEDIA-------------------------------------*/
@media (max-width: 865px) {
    body.lock {
        overflow: hidden;
    }

    header:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fafafa;
        z-index: 2;
    }
    header .wrap .header_body .logo {
        margin: 10px 0;
        font-size: 28px;
    }
    header .wrap .header_body .burger {
        display: block;
    }
    header .wrap .header_body .burger.active span:nth-child(1) {
        -webkit-transform: rotate(45deg) translate(0, 4px);
                transform: rotate(45deg) translate(0, 4px);
    }
    header .wrap .header_body .burger.active span:nth-child(2) {
        display: none;
    }
    header .wrap .header_body .burger.active span:nth-child(3) {
        -webkit-transform: rotate(-45deg) translate(0, -4px);
                transform: rotate(-45deg) translate(0, -4px);
    }
    header .wrap .header_body .header_menu {
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #242629;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 90px 15px 20px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        overflow: auto;
    }
    header .wrap .header_body .header_menu ul {
        display: block;
    }
    header .wrap .header_body .header_menu ul li {
        padding-right: 0;
        text-align: center;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-bottom: 1px solid rgba(97, 97, 97, 0.5);
    }
    header .wrap .header_body .header_menu ul li {
    margin-right: 0;
		}
    header .wrap .header_body .header_menu ul li:last-child {
        border: none;
    }
    header .wrap .header_body .header_menu ul li a {
        display: block;
        padding: 30px 0;
        color: #fff;
    }
    header .wrap .header_body .header_menu.active {
        top: 0;
    }
    header .wrap .header_body .header_menu .h_btn {
    position: absolute;
    margin: 0;
    bottom:30px;
    left: 50%;
    transform: translate(-50%);
    right: -65px;
    display: flex;
    width: 120px;
    text-align: center;
    background-color: #d5ad34;
    border-color: #d5ad34;
    border-radius: 10px;
		}
}